body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
.box {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #ff0000;
    font-size: 24px;
    margin-bottom: 10px;
    text-align: center;
}

p {
    line-height: 1.6;
    margin: 10px 0;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    font-weight: bold;
    font-size: 18px;
    margin-top: 15px;
}


ul li + p {
    margin: 5px 0 20px;
    font-weight: normal;
}


ul li:hover {
    color: #ff3e30;
}
